<div class="card">

    <div class="header">
      <h2 class="title">Flight Typeahead</h2>
    </div>
    <div class="content">
  
      <!-- <form *ngIf="{ timer: timer$ | async } as componentData">  
        <div class="form-group">
          <label>From: {{ componentData.timer }}</label>
          <input [ngModel]="componentData.timer" name="timer" class="form-control">
        </div>
      </form> -->

        <div class="control-group">
            <label>City</label>
            <input
                [formControl]="control" class="form-control">
        </div>

        <div *ngIf="loading">Loading...</div>
        <div>Online: {{ online$ | async }}</div>
    </div>
  </div>

  <div class="card"
    *ngIf="flights$ | async as flights">
    <table
        class="table table-contensed"
        *ngIf="flights?.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let f of flights">
                <td>{{f.id}}</td>
                <td>{{f.from }}</td>
                <td>{{f.to }}</td>
                <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
        </tbody>
     </table>
</div>